#prof_user {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

#prof_user p {
    margin-left: 8px;
    font-weight: bold;
}

.prof_user-border {
    width: 68px;
    height: 68px;
    border-radius: 34px;
    background: linear-gradient(90deg, rgba(0, 60, 255, 1) 0%, rgba(0, 255, 136, 1) 100%);
    padding: 2px;
    margin-bottom: 16px;
}

.prof_user-border-int {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: white;
    padding: 2px;
}

.prof_user-border img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: 2px;
    margin-left: 2px;
}
#docente_d {
    font-size: 20px;
    margin-top: 13px !important;
}